.borderBox {
    border-style: solid;
    border-color: black;
    height: 150px;
    width: 500px;
}

.wordBox {
    width: 250px;
    border-style: solid;
    padding: 10px;
    font-size: 18px;
}

.translate{
   border-radius: 5px;
   background: red;
   color: white;
   padding: 5px;
}

h1 {
    text-align: center;
}

body{
    background-color: skyblue;
}